<html>
<head>
    <title>Facebook Video Popularity Predictor</title>
    <!--<link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div id="w">
    <h1>Facebook Video Popularity Predictor</h1>
    <div id="page">
        <div id="content-start">
            <h2>Upload video thumbnail</h2>

            <div class="content">

                <h3>Will it be popular?</h3>
                <label>Upload your thumbnail and find out!</label>
                <!--<a href="#" class="slidelink" id="showregister">Don't Have An Account? &rarr;</a>-->
                <form id="my_form" action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" id="file_input" name="file" onchange="javascript:start_long_task()">
                    <br/>
                    <br/>
                </form>


            </div>
        </div> <!-- /end #content-start -->

        <div id="content-progress">
            <h2>Processing...</h2>
            <div class="content">
                <div id="progress"></div>
            </div>
        </div>

        <div id="content-result">
            <h2>Results</h2>
            <div class="content">
                <div class="row">
                    <a href="#" class="slidelink" id="showstart">&larr; Wanna predict another video?</a>
                </div>

                <div id="result">
                    <div class="row">
                        <div class="col-sm-6" id="content-result-div">

                        </div>
                        <div class="col-sm-6" id="picture-result-div">
                            <div class="picture-placeholder" id="thumbnail-place">

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- /end #content-result -->


    </div>

    <br>

    <div id="page3">
        <div id="content-history">
            <h2>History</h2>
            <div class="content">

                <!--this is div, where all the history will be put (by javascrtipt)-->
                <div id="history"></div>

            </div>
        </div>
    </div>

    <br>

    <div id="page2">
        <div id="content-about">
            <h2>About</h2>
            <div class="row">
                <div class="content">
                    <div class="col-sm-6">
                        <img class="mosaic" src="{{ url_for('static', filename='img/t_mosaic_first_100-0.jpg') }}">
                    </div>
                    <div class="col-sm-6">
                        <img class="mosaic" src="{{ url_for('static', filename='img/t_mosaic_pref_100-0.jpg') }}">
                    </div>
                </div>
            </div>
            <hr>
            <footer>
                <p>Created by: Paweł Andruszkiewicz</p>
                <p>Contact information: <a href="mailto:pandrus1@mion.elka.pw.edu.pl">
                    pandrus1@mion.elka.edu.pl</a>.</p>
            </footer>
        </div>
    </div>


</div>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->

<script type="text/javascript" src="{{ url_for('static', filename='js/nanobar.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/loader.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/predictor.js') }}"></script>
</body>
</html>
